/* BASE STYLES
============================================================================= */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }

/* Font Families */

.droid-sans { font-family: 'Droid Sans', sans-serif; }
.droid-serif { font-family: 'Droid Serif', serif; }
.roboto-100 { font-family: 'Roboto', sans-serif; font-weight: 100; }
.roboto-300 { font-family: 'Roboto', sans-serif; font-weight: 300; }
.roboto-400 { font-family: 'Roboto', sans-serif; font-weight: 400; }

/*B&W*/
.bw {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.bw:hover {
  -webkit-filter: hue-rotate(180deg) invert(.8);
}

.center{
	display:block;
	margin: auto;
	text-align: center;
}

.no-underline{
	text-decoration: none !important;
}

.row{
	margin:0px;
}

.highlight{ transition: .4s;}

.highlight:hover {
	transition: .4s;
	background-color: #9EDBF9;
	position: relative;
  	box-shadow: 
    1px 1px #D5F1FF,
    2px 2px #D5F1FF,
    3px 3px #D5F1FF;
}


/* PAGES
============================================================================= */

.page-home 		{ cursor: default;}

.page-about 	{ background:#9CD399; color:#414042; height: 100vh; cursor: default;}
.page-contact 	{ background:#ffa6bb; color:#9e0000; height: 100vh; cursor: default;}
.page-svg 		{ cursor: default; }
.page-works 	{ background:#C1C2C7; height: 100vh; cursor: default;}

/* Menu Button (Transition 3D Effect) */

#showMenu{
	text-decoration: none;
}

/* Loading Page ================================================================ */

#loading {
	width: 100%;
	height: 100%;
}

#loading-container{
	position: absolute;
	top: 45%;
	left: 46%;
}

#loading-svg {
	width: 20%;
	height: 20%;
}

/* Home Page ================================================================ */

#home-cover{
	background-color: #FFBB75 ; 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	height: 100vh;
}

#home-cover-info{
	width: 33vw;
	margin: auto;
	padding-top: 20vh;
	text-align: center;
	color: #414042;
}

#home-cover-info a {
	text-decoration: none;
	font-size: 28px;
	color: #414042;
	display: inline-block;
	padding: 10px;
	margin: 10px;
}

#home-cover-info h1 { 
	margin: 0; 
	font-size: 42px;
}

@media (max-height: 600px) {
	#home-cover{
		height: 600px;
	}
}

@media (max-width: 600px) {
	#home-cover{
		height: 600px;
	}
}


.section{ height: 500px; }

#section1{ background-color: #9EDBF9; color:#414042;}

#section2{	background-color: #D5F1FF; color:#414042;}

#section3 {
	background-color: #4B8CAD;
	color:#E1F3F5;
}

#footer {
	background-color: #696155;
	color:#E1F3F5;
	height: 450px;
	padding: 15px;
}

#footer h1{
	padding-top: 50px;
	font-size: 8.2vmin;
}

#footer h4{
	padding-bottom: 50px;
}

.section-img{	padding-top: 100px; padding-left:; }

.section-content{	text-align: left;	padding-top: 150px; padding-right: 10%;}


@media (max-width: 1200px) {
	.section-content{
		padding-right: 25px;
	}
}

@media (max-width: 768px) {
	.section{
		height: 750px;
	}

	.section-img{
		padding-top: 100px; 
	}

	.section-content{
		text-align: left;
		padding-top: 50px;
		padding-left: 50px;
		padding-right: 50px;
	}

	#home-cover-info{
		padding-top: 25vh;
		width: 225px;
	}

	#home-cover-info h1 { 
		font-size: 32px;
	}

	#home-cover-info a { 
		font-size: 24px;
	}
}

@media (max-width: 400px){
	.svg-cover {
		width:225px;
		height:225px;
	}
}

@media (max-width: 600px){
	#home-cover-info{
		padding-top: 100px;
	}
}

/* About Page ============================================================== */

#svg-turtle{
	width: 100%;
	height: 100%;
}

#aboutme-div{
	width: 600px;
	padding-left: 100px;
	padding-top: 25px;
}

#section-about{
	background:#9CD399
}

#section-about h1 {
	font-size: 72px;
}

#section-about p {
	
}

#img-about{
	padding-top: 60vmin;
	padding-right: 100px;
}

@media (max-width: 768px) {

	#aboutme-div{
		width: 90%;
		padding-left: 25px;
		padding-right: 0px;
		padding-top: 50px;
	}

	#section-about h1 {
		font-size: 32px;
	}

	#img-about{
		padding-top: 25px;
		padding-right: 25px;
		width: 150px;
	}
}

/* Works Page ============================================================== */

#section-work{
	padding-top: 50px;
	background-color: #D5F1FF;
	color:#414042;
	cursor: default;
}

#section-work h1 {
	font-size: 72px;
}

#section-work p {
	
}

/* Svg Page and SVG's ================================================================ */

#section-svg{
	cursor: default;
}

.svg-logo{
	width: 100%;
	height: 100%;
}

@media (max-width: 320px) {
	.svg-logo{
		width: 200px;
		height: 100px;
	}
}

#svg-contact {
	width: 75px;
	height: 75px;
}

.svg-icon {
	width: 75%;
	height: 75%;
	padding: 50px;
}

.svg-header {
	padding: 25px;
}

.svg-header h1{
	font-size: 72px;
	margin-bottom: 0px;
}

@media (max-width:768px){
	.svg-header h1{
		font-size: 42px;
	}
}

/* Metro Style ================================================================ */
.metro {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  background: #4B8CAD;

  /* Font styles */
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.metro:hover { background: #9EDBF9; text-decoration: none !important; cursor: pointer;}

.metro.three-d {
  position: relative;
  box-shadow: 
    1px 1px #D5F1FF,
    2px 2px #D5F1FF,
    3px 3px #D5F1FF;
  transition: all 0.1s ease-in;
}

.metro.three-d:active { 
  box-shadow: none;
  top: 3px;
  left: 3px;
}

/* ANIMATIONS
============================================================================= */

.page.ng-leave 	{ z-index:9999; }
.page.ng-enter 	{ z-index:8888; }

/* page specific animations ------------------------ */

/* home -------------------------- */
.page.ng-leave         {
    -webkit-transform-origin: 0% 0%;
	-webkit-animation: fadeOut .25s both ease-in;
	-moz-transform-origin: 0% 0%;
	-moz-animation: fadeOut .25s both ease-in;
	transform-origin: 0% 0%;
	animation: fadeOut .25s both ease-in;
}
.page.ng-enter 		{  
    -webkit-animation:fadeIn .5s both ease-in;
	-moz-animation:fadeIn .5s both ease-in;
	animation:fadeIn .5s both ease-in;    
}

