<!-- home.html -->
<div id="home-cover" class="row">
	<div class="col-sm-4"></div>
	<div id="home-cover-info" class="col-sm-4 animated fadeInDown">
		<!-- SVG Logo -->
		<object>
			<embed class="svg-logo" src="svg/logo-triangle.svg">
		</object>

		<h1> Antonio Lee </h1>
	
		<a href="#about" class="highlight three-d">About</a>
		<a href="#contact" class="highlight">Contact</a>	
		<a href="#works" class="highlight">Works</a>

	</div>
	<div class="col-sm-4"></div>
</div>

<div id="section1" class="row section">
	<div class="col-sm-5">
		<object>
			<embed src="svg/icon-pencil-ruler.svg" class="center section-img svg-cover">
		</object> 
	</div>
	<div class="col-sm-7 center section-content">
		<h1> Header </h1>
		<p>Donec a pulvinar nisi. Integer est ligula, accumsan et ipsum sit amet, viverra luctus eros. Integer gravida finibus arcu ut porta. Sed libero urna, euismod at dictum sed, varius eu ligula. Maecenas id dictum nisl. Mauris vehicula sapien nec purus pulvinar, a dictum nunc eleifend. Morbi aliquet mauris ligula, quis egestas lectus vulputate non. Praesent dictum eleifend ipsum laoreet consectetur. </p>
	</div>
</div>

<div id="section2" class="row section">
	<div class="col-sm-5">
		<object>
			<embed id="svg-icon" src="svg/icon-computer.svg" class="center section-img svg-cover">
		</object> 
	</div>
	<div class="col-sm-7 center section-content">
		<h1> Header </h1>
		<p>Donec a pulvinar nisi. Integer est ligula, accumsan et ipsum sit amet, viverra luctus eros. Integer gravida finibus arcu ut porta. Sed libero urna, euismod at dictum sed, varius eu ligula. Maecenas id dictum nisl. Mauris vehicula sapien nec purus pulvinar, a dictum nunc eleifend. Morbi aliquet mauris ligula, quis egestas lectus vulputate non. Praesent dictum eleifend ipsum laoreet consectetur. </p>
	</div>
</div>


<div id="section3" class="row section">
	<div class="col-sm-5">
		<object>
			<embed id="svg-icon" src="svg/icon-contact.svg" class="center section-img svg-cover">
		</object> 
	</div>
	<div class="col-sm-7 center section-content">
		<h1> Header </h1>
		<p>Donec a pulvinar nisi. Integer est ligula, accumsan et ipsum sit amet, viverra luctus eros. Integer gravida finibus arcu ut porta. Sed libero urna, euismod at dictum sed, varius eu ligula. Maecenas id dictum nisl. Mauris vehicula sapien nec purus pulvinar, a dictum nunc eleifend. Morbi aliquet mauris ligula, quis egestas lectus vulputate non. Praesent dictum eleifend ipsum laoreet consectetur. </p>
	</div>
</div>
