<div class="center">
	<br>

	<div class="svg-header">
		<h1>Responsive SVG Icons</h1>
		<h4> <strong>Try</strong> clicking icons and resizing the window! </h4>
		<h4> Created by: <strong>Antonio Lee</strong> </h4>
	</div>

	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<object>
				<embed id="svg-turtle" src="svg/turtle.svg">
			</object>
		</div>
		<div class="col-sm-4"></div>
	</div>

	<div class="row">
		<div class="col-sm-4">
			<object>
				<embed class="svg-icon" src="svg/icon-contact.svg">
			</object>
		</div>

		<div class="col-sm-4">
			<object>
				<embed class="svg-icon" src="svg/icon-computer.svg">
			</object>
		</div>

		<div class="col-sm-4">
			<object>
				<embed class="svg-icon" src="svg/icon-pencil-ruler.svg">
			</object>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-4">
			<object>
				<embed class="svg-icon" src="svg/icon-home.svg">
			</object>
		</div>

		<div class="col-sm-4">
			<object>
				<embed class="svg-icon" src="svg/icon-magnify.svg">
			</object>
		</div>

		<div class="col-sm-4">
			<object>
				<embed class="svg-icon" src="svg/icon-menu.svg">
			</object>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-4">
			<object>
				<embed class="svg-icon" src="svg/icon-map.svg">
			</object>
		</div>

		<div class="col-sm-4">
			<object>
				<embed class="svg-icon" src="svg/icon-console.svg">
			</object>
		</div>

		<div class="col-sm-4">
			<object>
				<embed class="svg-icon" src="svg/icon-down-arrow.svg">
			</object>
		</div>
	</div>

</div>
