/* styles.css for Antonio Lee Personal Website */

/* Headroom.js  */

.headroom {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	transition: all .3s ease-in-out;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
} 


.ease {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}


/*B&W*/
.bw {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.bw:hover {
  -webkit-filter: grayscale(100%);
}

.opacity:hover{ opacity:.3; }


/* navbar */

#my-navbar{
	min-width: 300px;
}

#nav-container{
	width:100%;
}

#nav-logo{
	height: 50px;
}

#nav-logo:hover{
	margin-top: -5px;
	height: 55px;
	background-color: #67C8F5;
}

.navbar-default {
	min-height: 0;
	height: 50px;
	border-radius: 0px;	
	border:0px;
	background-color: #ffffff ;
}

.navbar-nav>li, .navbar-nav {
	float: left !important;
}

.navbar-right {
	float: right!important;
	padding-right: 10px;
}

/* Header Icon (linkedin, twitter, github) */

.header-icon {
	margin-top: -5px;
	width: 32px;
	height: 32px;
}


.icon-highlight1:hover{
	margin-top: -5px;
	background-color: #A4DEF9;
	height:55px;
}

.icon-highlight2:hover{
	margin-top: -5px;
	background-color: #FFD102;
	height:55px;
}

.icon-highlight3:hover{
	margin-top: -5px;
	background-color: #FFCE7E;
	height:55px;
}


/* section-cover */
#section-cover-container{
	max-width: 840px;
}

#section-cover{
	background-image: url('../images/tile-blue.png');
	background-size: 100px 100px;
	background-repeat: repeat;
	height:100vh;
}

#section-cover-header{
	background-image: url('../images/gradient.png');
	margin-top:40vh;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 1px;
}


/* Section 1 */

#section1 {
	background-color: #C2E8FC;
	width: 100%;
	height: 700px;
}

#section1-header{
	margin-top:75px;
}

#section-1-info{
	margin-top:50px;
}

.section1-skill{

}

/* section 2 */

#section2-container {
	margin-top: 75px;
}

#section2 {
	background-color: #32657B;
	width: 100%;
	height: 1300px;
}

.section2-image-size{
	width:400px;
	height: 300px;
}

.cubico{
	width:400px;
	height:300px;
}

/* section 3 */

#section3-container {
	margin-top: 75px;
}

#section3 {
	background-color: #696155;
	width: 100%;
	height: 400px;
}

/* Section Header */

.section-header {
	font-size: 54px;
	text-align: center;
}

.section-info {
	font-size: 18px;
	text-align: center;
}

/* Font Families */

.droid-sans { font-family: 'Droid Sans', sans-serif; }
.droid-serif { font-family: 'Droid Serif', serif; }
.roboto-100 { font-family: 'Roboto', sans-serif; font-weight: 100; }
.roboto-300 { font-family: 'Roboto', sans-serif; font-weight: 300; }
.roboto-400 { font-family: 'Roboto', sans-serif; font-weight: 400; }


/* font color classes */

.white {
	color: #EED6D6;
}

.black{
	color: black;
}

.gray{
	color: #d1d1d1;
}


 @media screen and (max-width: 1200px) {
 	#section1{
		height: ;
 	}

 	#section2{
 		height:1400px;
 	}
 }


 @media screen and (max-width: 987px) {
	#section1 {
		height: 800px;
	}

	.section2-image-size{
		width: 320px;
		height: 200px;
	}

	.cubico {
		width:200px;
		height:200px;
	}
}

@media screen and (max-width: 768px) {
	.header-icon {
		margin-top: -5px;
		width: 28px;
		height: 28px;
	}

	.icon-highlight1:hover{
		margin-top: -8px;
		background-color: #A4DEF9;
		height:50px;
	}

	.icon-highlight2:hover{
		margin-top: -8px;
		background-color: #FFD102;
		height:50px;
	}

	.icon-highlight3:hover{
		margin-top: -8px;
		background-color: #FFCE7E;
		height:50px;
	}

	.section-header {
		font-size: 42px;
		text-align: center;
	}

	.section-info {
		font-size: 14px;
		text-align: center;
	}

	#section1 {
		height: 1300px;
	}

	#section2{
		height:2150px;
	}
 }

 @media screen and (max-width: 580px) {
	#section2{
		height:2200px;
	}
}

 @media screen and (max-width: 540px) {
 	 #section1{
 		height:480px;
 	}

	#section2{
		height:2300px;
	}
}

 @media screen and (max-width: 480px) {
 	#section-cover{
 		height: 400px
 	}

 	#section-cover-header{
 		margin-top: 125px;
 	}

 	#section1{
 		height: 1400px;
 	}

	#section2{
		height:2400px;
	}
}

 @media screen and (max-width: 420px) {
	#section2{
		height:2450px;
	}
}

 @media screen and (max-width: 370px) {
	#section2{
		height: 2500px;
	}
	#section3{
		height: 500px;
	}
}


 @media screen and (max-width: 320px) {
 	#section-cover{
 		height:480px;
 	}

 	#section-cover-header{
 		margin-top:125px;
 	}

	#section1 {
		height: 1680px;
	}

	#section1-info{
		margin-top: 100px;
	}

	#section2{
		height: 2600px;
	}

	#section3{
		height: 550px;
	}

}


/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }
