<div id="section-about">
	<div class="row">
		<div class="col-sm-8">
			<div id="aboutme-div">
				<h1 class="roboto-300"> About Me</h1>

				<p class="droid-sans"> My name is Antonio Lee and I'm an aspiring web/mobile developer & designer. I recently graduated from the University of California, Santa Cruz, where I majored in Computer Science with an emphasis towards Game Design. Now that I've graduated, I've been taking the time to hone my skills with programming, art and design. I want to eventually be able to have the skills to be able to do a start up with friends, but the first thing I want to do is become a great web developer/designer. Building professional web applications and designs will help me get to the next step. 

				<br><br>

				Besides designing and developing, I like to do other things! I love skateboarding, cooking & eating awesome food, traveling/adventuring and meeting awesome people from all around the world.

				</p>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="pull-right" id="img-about">
				<object>
					<embed id="svg-turtle" src="svg/turtle.svg">
				</object>
			</div>
		</div>
	</div>
</div>
