<!-- home.html -->
<div id="home-cover" class="row">
	<div class="col-sm-4"></div>
	<div id="home-cover-info" class="col-sm-4 animated fadeInDown">
		<!-- SVG Logo -->
		<object>
			<embed class="svg-logo" src="svg/logo-triangle.svg">
		</object>

		<h1 id="cover-header" class="roboto-300"> Antonio Lee </h1>
	
		<a href="#about" class="highlight roboto-300">About</a>
		<a href="#works" class="highlight roboto-300">Works</a>	
		<a href="#svg" class="highlight roboto-300">SVG's</a>

	</div>
	<div class="col-sm-4"></div>
</div>

<div id="section1" class="row section">
	<div class="col-sm-5">
		<object>
			<embed src="svg/icon-pencil-ruler.svg" class="center section-img svg-cover">
		</object> 
	</div>
	<div class="col-sm-7 center section-content">
		<h1 class="droid-sans"> User Interfaces & Designs </h1>
		<p> I've developed graphical user interfaces on all sorts of projects ranging from casual mobile video games, PC twin-stick shooters, University Research web applications, E-commerce websites and more. With my skills in art and design, I am able to create simple, intuitive and user friendly interfaces.  </p>
	</div>
</div>

<div id="section2" class="row section">
	<div class="col-sm-5">
		<object>
			<embed id="svg-icon" src="svg/icon-computer.svg" class="center section-img svg-cover">
		</object> 
	</div>
	<div class="col-sm-7 center section-content">
		<h1 class="droid-sans"> Programming Experience </h1>
		<p>I majored in Computer Science with an emphasis towards Game Design at the University of California, Santa Cruz. I've created software applications ranging from mobile games, android applications, PC games, interactive narratives, interactive films, websites, and more. Some of the languages I've used are Java, Processing, C, C++, C#, Lua, Python and Javascript. </p>
	</div>
</div>


<div id="section3" class="row section">
	<div class="col-sm-5">
		<object>
			<embed id="svg-icon" src="svg/icon-console.svg" class="center section-img svg-cover">
		</object> 
	</div>
	<div class="col-sm-7 center section-content">
		<h1 class="droid-sans"> Front-End Web Developer </h1>
		<p>I'm up to date with modern web development standards and responsive web design techniques. I've had the opportunity to work as an undergraduate researcher to build web applications for the University of California, Santa Cruz and interned as a Graphic Designer/Web Designer. I'm new to the web dev game, but I'm learning something new everyday, and quickly.</p>
	</div>
</div>

<div id="footer" class="row center">

	
	<h1 class="roboto-300"> Contact </h1>

 	<h4 class="droid-sans"> Email: antoniolee@outlook.com • <a href="misc/resume.pdf">Resume</a> </h4>           

    <footer class ="footer text-center">
        © Copyright Antonio Lee 2012-2014. Unauthorized use of the design, code, content or copy of this website is strictly prohibited. All Rights Reserved. 

        <a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png" /></a><br />This work is licensed under a <a class="white" rel="license" href="https://creativecommons.org/licenses/by-nc-nd/3.0/deed.en_US">Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License</a>.
    </footer>

</div>
