 <!-- Begin Section 2 ection 2 ection 2 ection 2 ection 2 ection 2 ection 2 -->
      <div id="section-work">

        <!-- Three columns of text circle pictures -->
        <div class="container ease">

            <div class="center">
              <h1 class="roboto-300"> Works </h1>
              <h4 class="droid-sans"> Websites • Web Applications • Video Games • Digital Art & Interactive Media </h4>
              <br><br>
            </div>

            <div class="row" style="padding-bottom:50px;">
              <div class="col-sm-8">
                <a href="http://nwcgame.com"><img class="img-responsive center-block bw" src="css/images/nwc.png"/></a>
                <h2 class="roboto-400 text-center"> Now We're Cooking!</h2>
                <p class="droid-sans"> Now We're Cooking is a mobile game for Android and iOS devices. The story takes place in a reality cooking TV show in which the host has turned all the food evil. You now must utilize their chef powers to combine food by swiping different ingredients together, before it's too late. Created using Corona SDK and Lua. Roles: Lead Producer, Programmer, Artist, Musician. </p>

                <br>
              </div>

              <div class="col-sm-4">
                <a href="http://games.soe.ucsc.edu/project/solar-crysis/"><img class="img-responsive center-block bw" src="css/images/solarcrysis1.png"/></a>
                <h2 class="roboto-400 text-center">Solar Crysis</h2>
                <p class="droid-sans"> Solar Crysis is a twin-stick shooter where the player controls a "nanobot" whose job is to constantly repair a continuously breaking solar panel while protecting itself from bad guys. If a panel breaks the nanobot can no longer cross that panel, thus making the solar panel a dynamically changing playing field.  Created using XNA 4.0 and C#. Roles: Lead Designer, Programmer, Artist </p>
                <br>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <a href="http://cubicolabs.com"><img class="img-responsive center-block bw cubico" src="css/images/cubico.png"/></a>
                <h2 class="roboto-400 text-center"> Cubico Media Labs LLC.</h2>
                <p class="droid-sans"> Cubico Labs is a digital media agency committed to creating lasting connections between your company and youth culture. I interned as a Graphic Designer & Web developer. During my time at Cubico Labs, I created graphics for t-shirts, web banners and made different mock up templates. I translated a custom wire-frame template that I created into HTML and CSS using Bootstrap.js, which can be found <a class="white" href="http://people.ucsc.edu/~alee37/tresroyale/"> <strong> here. </strong></a> </p>
                <br>
              </div>

              <div class="col-sm-4">
                <a href="https://antoniolee.pythonanywhere.com/NSFUCSC/default/index"><img class="img-responsive center-block bw section2-image-size" src="css/images/math.png"/></a>
                <h2 class="roboto-400 text-center"> Math Performance Predictor </h2>
                <p class="droid-sans"> A web application which generates a bar graph which depicts predicted standardized math score statistics of students from 3rd – 8th grade depending on three variables which the user can modify. Users can create an account and store in results into their own personal database. 
                </p>
                <br>
              </div>

              <div class="col-sm-4">
                <a href="https://antoniolee.pythonanywhere.com/NSF_Sortable/default/index"><img class="img-responsive center-block bw section2-image-size" src="css/images/sortable.png"/></a>
                <h2 class="roboto-400 text-center"> NSF Sortable </h2>
                <p class="droid-sans"> 
                  A web application which generates a unique list of four generated teacher name-cards which have different statistics and a picture to match. The user rates the teacher from most to least qualified by sorting the name-cards in order from best to worst. Results are stored into database. 
                </p>
                <br>
              </div>
            </div>

            <div class="row" style="padding-bottom:100px; padding-top:50px;">
            	<div class="col-sm-6">
            		<a href="http://people.ucsc.edu/~alee37"><img class="img-responsive center-block bw section2-image-size" src="css/images/people.ucsc.edu.png"/></a>
            		<h2 class="roboto-400 text-center"> people.ucsc.edu/~alee37 </h2>
            		<p class="droid-sans">
            			Portal to University of California, Santa Cruz, Personal website created in 2012. Hosts several UCSC projects not found on this website.
            		</p>
            		<br>
            	</div>

            	<div class="col-sm-6">
					<a href="https://antoniolee.github.io/portfolio-ucsc"><img class="img-responsive center-block bw section2-image-size" src="css/images/portfolio-2014.png"/></a>
            		<h2 class="roboto-400 text-center"> Portfolio 2014 </h2>
            		<p class="droid-sans">
            			Responsive portfolio website I created during summer after I graduated. Single page website built using HTML5, CSS3, Javascript, Bootstrap and Headroom.js.
            		</p>
            		<br>
            	</div>
            </div>

        </div>
      </div>

    <!-- end section2 end section2 -end section2 -end section2 -end section2 -->